@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #D4FF00;
  /* Acid Volt */
  --color-accent: #FF2E00;
  /* Kinetic Orange */
  --color-surface: #121212;
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

:root {
  --background: #050505;
  --foreground: #f0f0f0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}